@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

$primaryFont: "Josefin Sans", sans-serif;

* {
  box-sizing: border-box; 
  margin: 0;
  font-size: 14px;
  font-family: $primaryFont;
  // font-weight: 400;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
  background: #8ab4f8;
}

li {
  appearance: none;
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

main {
  background-color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
}

h6 {
  font-weight: 600;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page {
  padding: 0 15%;
}