header {
  .header__container {
    .header__image {
      // display: none;
      figure {
        img {
          object-fit: cover;
          width: 100%;
          height: 100vh;
        }
      }
    }

    button {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 2.5rem;
        position: absolute;
      }
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }
  }
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #fff;
  // border-bottom: 1px solid #cecece;

  .logo {
    img {
      height: 20px;
    }
  }

  .logo:hover {
    border-bottom: none;
  }

  a {
    color: #222;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  a:hover {
    border-bottom: 2px solid #333;
    color: #333;
  }
}

// transition of the slider images
.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

// arrow buttons
.btn__left_arrow {
  left: 50px;
}

.btn__right_arrow {
  right: 50px;
}

.markers {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 40px);
}

@media screen and (max-width: 360px) {
  nav .logo {
    width: 50vw;
    img {
      width: 100%;
      height: auto;
    }
  }

  .btn__left_arrow {
    left: 25px;
  }
  
  .btn__right_arrow {
    right: 25px;
  }
}
